asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cloudinary==1.44.1
crispy-tailwind==1.0.3
cryptography==45.0.6
Django==4.2.23
django-allauth==65.11.0
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-csp==4.0
django-email-users==2.1.0
django-extensions==4.1
django-ratelimit2==0.4.2
django-sslserver==0.22
django-widget-tweaks==1.5.0
git-filter-repo==2.47.0
idna==3.10
MarkupSafe==3.0.2
mysqlclient==2.2.7
order==2.1.7
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
PyMySQL==1.1.2
pyOpenSSL==25.1.0
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.5
scinum==2.2.1
SHop==0.0.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
Werkzeug==3.1.3
