{% extends "base.html" %}
{% load socialaccount %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">Најави се</h2>

    <form method="post" class="flex flex-col gap-4">
      {% csrf_token %}
      {{ form.username|as_crispy_field }}
      {{ form.password|as_crispy_field }}
      <button type="submit" class="bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Login</button>
    </form>

    <div class="mt-4 flex justify-center">
      <a href="{% provider_login_url 'google' %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
        Sign in with Google
      </a>
    </div>
  </div>
</div>
{% endblock %}
